encrypt
decrypt-serial
decrypt-mpi
decrypt-key
ciphertext.txt
valgrind.*.log

tests/inputs/*
!tests/inputs/.gitkeep
tests/results/*
!tests/results/.gitkeep

__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.venv/
.venv-*/
local_tests/
.DS_Store
